.hero-parallax .hero-inner .hero-content h1 {
    font-weight: 400;
}

.navbar-brand {
    height: 85px;
}

.navbar.navbar-default.navbar-transparent {
    background-color: white;
}

.lead {
    font-weight: 400;
}

.navbar-light.navbar-transparent .navbar-nav .active > .nav-link, .navbar-light.navbar-transparent .navbar-nav .nav-link.active, .navbar-light.navbar-transparent .navbar-nav .nav-link.show, .navbar-light.navbar-transparent .navbar-nav .show > .nav-link {
    color: #2973b8;
}

.navbar-light.navbar-transparent.shrink .navbar-nav .active > .nav-link, .navbar-light.navbar-transparent.shrink .navbar-nav .nav-link.active, .navbar-light.navbar-transparent.shrink .navbar-nav .nav-link.show, .navbar-light.navbar-transparent.shrink .navbar-nav .show > .nav-link {
    color: #2973b8;
}

.feature-box-center i {
    color: #2973b8;
}

.btn-primary {
    background: #2973b8;
    border: 2px solid #2973b8;
}

    .btn-primary:hover {
        color: #2973b8;
        border-color: #2973b8;
    }

    .btn-primary:focus {
        background: #2973b8;
        border: 2px solid #2973b8;
    }

.btn-dark-border {
    background: transparent;
    color: #2973b8;
    border: 2px solid #2973b8;
}
    .btn-dark-border:focus {
        background: transparent;
        color: #2973b8;
        border: 2px solid #2973b8;
    }
    .btn-dark-border:hover {
        background: #2973b8;
        color: #fff;
    }

.price-box.best-plan .price-header, .price-box.best-plan .price-footer {
    background: #2973b8;
}

.skin-bg {
    background-color: #144f7f;
}

.cta-skin {
    background: #144f7f;
}

.btn-primary-white-hover-background {
    background: #4aa3df;
    color: #fff;
    border: 2px solid #4aa3df;
}

    .btn-primary-white-hover-background:hover {
        background: #fff;
        color: #4aa3df;
        border-color: #4aa3df;
    }

    .btn-primary-white-hover-background:focus {
        background: #4aa3df;
        color: #fff;
        border: 2px solid #4aa3df;
    }

.center-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 2px;
    margin-left: -50px;
    background: #2973b8;
}

.scrollToTop {
    background: #2973b8;
}

.space-110 {
    width: 100%;
    height: 110px;
}

.space-120 {
    width: 100%;
    height: 120px;
}

.cta-bg {
    background: #144f7f;
}

/* ------------------------- Custom Styles - John M ---------------------------- */

.page-title h1{
	font-size: 55px;
	font-weight: 600;
	line-height: 52px;
}

a:hover {
    color: #0056b3 !important;
}

.btn{
	font-weight: 800;
}

.row{
	margin-bottom: 10px;
}

.dzsparallaxer .center-it{
	top: 60%;
}

.nav-item a:current{
	color: #2973b8 !important;
}

.navbar-brand img{
	max-width: 250px;
}

.navbar-transparent .navbar-brand img, .navbar-light.navbar-transparent .navbar-brand img{
	left: 0;
	padding-top: 0 !important;
	position: relative;
	top: .85rem;
}

.hero-static{
	position: relative;
	top: 40%;
}

.hero-parallax .hero-inner .hero-content h1{
	font-weight: 600;
	text-transform: uppercase;
}

.btn-primary-white-hover-background{
	background: #56bc76;
	border: 2px solid #56bc76;
}

.btn-primary-white-hover-background:hover{
	color: #56bc76 !important;
	border: 2px solid #56bc76;
}

.price-box .price-header{
	background: #777;
}

.best-plan{
	background: #2973b8 none repeat scroll 0 0;
	border: none;
    margin-top: -30px;
    padding: 30px 0;
}

.best-plan .price-features{
	background: #fff;
	border-left: 1px solid rgba(0, 0, 0, 0.05);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.ftr-logo{
	max-width: 300px;
}

textarea{
	min-height: 140px !important;
}

.resp-img{
	width: 100%;
}

.border-danger {
    border-color: #f5c6cb;
}

.header-signup {
    color: white;
    font-size: 16px;
}

.white-border {
    border-color: white;
}

@media (max-width: 991px) {
	
	.navbar.navbar-default .navbar-toggler.navbar-toggler-right {
		top: 18px;
		right: 10px;
		width: 50px;
		height: 50px;
	}
	
	.hero-parallax .hero-inner .hero-content h1{
		font-size: 42px;
	}
	
	.page-title h1{
		font-size: 50px;
	}
	
	.footer .navbar-form .form-control{
		width: 230px;
	}
}
	
@media (max-width: 600px) {
	
	.navbar-transparent .navbar-brand img, .navbar-light.navbar-transparent .navbar-brand img{
		padding-top: .65em;
	}
	
}

@media (max-width: 480px) {
	
	.navbar-transparent .navbar-brand img, .navbar-light.navbar-transparent .navbar-brand img{
		max-width: 210px;
		padding-top: 0 !important;
		top: 1.2rem;
	}
	
	.hero-parallax .hero-inner .hero-content h1{
		font-size: 30px;
	}
	
	.page-title h1{
		font-size: 40px;
	}
	
	.partners-list img{
		width: 100%;
	}
	
	.footer img{
		max-width: 275px;
	}
	
	.footer .navbar-form {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.footer .navbar-form .form-control {
		width: 100%;
	}
}